{% extends 'layout.twig' %}

{% block content %}
    <h1>Login</h1>

    {% if responseMessage %}
        <div class="alert alert-primary" role="alert">
            {{ responseMessage }}
        </div>
    {% endif %}

    <form action="/auth" method="POST">
        <label>Username</label>
        <input type="text" name="username"><br>
        <label>Password</label>
        <input type="password" name="password"><br>

        <button type="submit">Login</button>
    </form>
{% endblock %}
